<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Rocket.Chat.PWA.React</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
