@import url(~material-design-lite/material.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
*::-webkit-scrollbar {
  height: 6px;
  width: 6px; }

*::-webkit-scrollbar-thumb {
  background-color: #6e6e6e; }

body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #04436a; }
